body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.col-5 {
  background-image: url("./the-honest-company-QvugSl4l8xY-unsplash.jpg");
  clip-path: polygon(15% 0, 100% 0, 100% 99%, 0% 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 50%;
}
.col-7 {
  width: 50%;
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    .logo {
      margin-left: 10px;
      background: #ff0f40 0% 0% no-repeat padding-box;
      opacity: 1;
      color: #fff;
      padding: 20px 30px;
      border-radius: 4px;
      font-size: 18px;
      font-weight: bold;
    }
    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 10vh;
      width: 100%;
      li {
        list-style: none;
        margin-right: 25px;
        color: #636b75;
        font-size: 15px;
      }
      li.active {
        color: #ff0f40;
      }
    }
  }
  h1 {
    color: #363637;
    letter-spacing: 0.41px;
    width: 398px;
    margin-top: 30%;
    margin-left: 56px;
  }
  .fa-plane {
    margin-left: 75px;
    position: absolute;
    margin-top: 16px;
    color: #273951;
  }
  .fa-map-marker-alt {
    margin-left: -65px;
    position: absolute;
    margin-top: 16px;
    color: #273951;
  }
  input {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 16px #0000001a;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    opacity: 1;
    border: none;
    letter-spacing: -0.07px;
    color: #273951;
    opacity: 0.4;
    width: 320px;
    height: 50px;
    margin-left: 56px;
    outline: none;
    padding-left: 50px;
  }
  .button {
    outline: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
    letter-spacing: -0.06px;
    color: #ffffff;
    background: #ff0f40 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 16px #121d8a1a;
    opacity: 1;
    width: 100px;
    height: 56px;
    border: none;
  }
}
.fa-bars {
  display: none;
}
.list {
  margin-top: 20px;
  margin-left: 58px;
  button {
    margin-left: 10px;
    color: #a1a9b3;
    background: #fdfcfa 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #00000007;
    border-radius: 136px;
    opacity: 1;
    font-size: 11px;
    text-align: left;
    letter-spacing: 0.34px;
    width: 100px;
    height: 29px;
    border: none;
    border-radius: 8px;
    border: 1px;
  }
}
.row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
}
@media screen and (max-width: 1069px) {
  .col-5 {
    display: none;
  }
  .col-7 {
    width: 100%;
    .hero-content {
      display: flex;
      flex-direction: column;
      height: 90vh;
      width: 100%;
      justify-content: center;
      align-items: flex-start;
      h1 {
        margin-top: 0;
      }
    }
    nav {
      ul {
        justify-content: flex-end;
      }
    }
  }
}
@media screen and (max-width: 553px) {
  .fa-bars {
    display: block;
    cursor: pointer;
    margin-right: 20px;
    position: absolute;
    top: 20px;
    right: 10px;
  }
  .col-7 {
    nav {
      display: block;
      .logo {
        width: 10%;
      }
      ul {
        display: none;
        li {
          margin-bottom: 15px;
        }
      }
    }
    h1 {
      margin-left: 6px;
    }
    .fa-plane {
      margin-left: 25px;
    }
    input {
      width: 220px;
      height: 50px;
      margin-left: 6px;
    }
    .button {
      width: 80px;
      height: 50px;
    }
  }
}
